<% if (data.comments.length > 0) { %>
<% data.comments.forEach(function(comment) { %>
<li class="list-item">
    <% if (!comment.isremove) { %>
    <% if (comment._belong_u) { %>
    <p class="user-info">
    <a class="avatar" href="/user/<%= comment._belong_u.id %>">
        <img width="25" height="25" src="<%= comment._belong_u.avatar_mini %>" />
    </a>
    <em class="username">
        <a href="/user/<%= comment._belong_u.id %>">
            <%= comment._belong_u.username %>
        </a>
        &nbsp;<%= timeFormat(comment.date) %>
    </em>
    </p>
    <% } else { %>
    <p class="user-info">
    <a class="avatar" href="/user/unknow">
        <img width="25" height="25" src="/images/avatar_mini.png" />
    </a>
    <em class="username">
        <a href="/user/unknow">未知用户</a>
        &nbsp;
        <%= timeFormat(comment.date) %>
    </em>
    </p>
    <% } %>
    <div class="comment-content"><%= comment.content %></div>
    <% } else { %>
    <div class="comment-content no-exist-content">[该留言已删除]</div>
    <% } %>
    <div data-rid="<%= comment._id %>" data-haslogged="<%= !!user %>" class="comment-ctrl">
        <div class="vote-ctrl-box">
            <% if (user) { %>
            <% if (comment.good && comment.good.length > 0) { %>
            <a href="javascript:;" data-hasgood="true" rel="comment-good"><i class="s s-arrow_up s-lg s-ac"></i></a>
            <% } else { %>
            <a href="javascript:;" data-hasgood="false" rel="comment-good"><i class="s s-arrow_up s-lg"></i></a>
            <% } %>
            <% } else { %>
            <a href="javascript:;" data-hasgood="false" rel="comment-good"><i class="s s-arrow_up s-lg"></i></a>
            <% } %>
            <span class="vote-num" rel="vote-num"><%= comment.vote %></span>
            <% if (user) { %>
            <% if (comment.bad && comment.bad.length > 0) { %>
            <a href="javascript:;" data-hasbad="true" rel="comment-bad"><i class="s s-arrow_down s-lg s-ac"></i></a>
            <% } else { %>
            <a href="javascript:;" data-hasbad="false" rel="comment-bad"><i class="s s-arrow_down s-lg"></i></a>
            <% } %>
            <% } else { %>
            <a href="javascript:;" data-hasbad="false" rel="comment-bad"><i class="s s-arrow_down s-lg"></i></a>
            <% } %>
        </div>
        <div class="more-ctrl-box">
            <% if (!comment.isremove) { %>
            <a class="remove" data-cid="<%= comment._id %>" rel="comment-delete" href="javascript:;"><i class="remove-icon"></i>
                删除
                <% } else { %>
                <span>已删除</span>
                <% } %>
        </div>
        <div class="visit-ctrl-box">
            <a href="/dream/<%= comment._belong_d %>?cid=<%= comment._id %>">
                <i class="comment-icon"></i>
                查看留言&nbsp;→
            </a>
        </div>
    </div>
</li>
<% }); %>
<% if (data.hasmore) { %>
<div data-rid="" data-reply="" data-cnext="" rel="load-comments-next" class="more"><a class="btn">查看更多 ></a></div>
<% } %>
<% } else { %>
<li class="list-item">
    <div class="nodata">
        <% if (user && user._id && data.account && data.account._id && user._id.equals(data.account._id)) { %>您<% } else { %>他<% } %>目前没有发表任何留言。
    </div>
</li>
<% } %>

