<div id="message-pop" class="dialog" style="display: none;">
    <div class="hd">
        <span>打招呼</span>
        <a href="javascript:;" class="close"></a>
    </div>
    <div class="bd">
        <div class="message-form">
            <p class="field"><textarea>招呼语...</textarea></p>
            <h3>备选招呼语</h3>
            <ul class="message-list">
                <li><a href="javascript:;" class="first">你好吗？</a><li>
                <li><a href="javascript:;">很高兴认识你。</a><li>
                <li><a href="javascript:;">久仰大名，特来拜见。</a><li>
                <li><a href="javascript:;" class="last">我觉得你的想法不错。</a><li>
            </ul>
        </div>
    </div>
</div>
