<% if (dream.category) { %>
<li class="list-item">
    <% if (data.nav !== 'user') { %>
    <div class="post-box">
    <% } else { %>
    <div class="post-box user-mode">
    <% } %>
        <div class="user-info-box">
            <% if (data.nav !== 'user') { %>
            <% if (dream._belong_u) { %>
            <a class="avatar" href="/user/<%= dream._belong_u._id %>">
                <img src="<%= dream._belong_u.avatar || '/images/avatar.png' %>" />
            </a>
            <% } else { %>
            <a class="avatar" href="/user/unknow"><img src="/images/avatar.png" /></a>
            <% } %>
            <% } %>
            <div class="userinfo">
                <% if (data.nav !== 'user') { %>
                <% if (dream._belong_u) { %>
                <a class="username" href="/user/<%= dream._belong_u._id %>"><%= dream._belong_u.username %></a>
                <% } else { %>
                <a class="username" href="/user/unknow">未知</a>
                <% } %>
                <% } %>
                <span class="datetime">
                    <%= timeFormat(dream.date) %>
                </span>
                <% if (dream.place) { %>
                <span class="place">
                    地点：<%= dream.place %>
                </span>
                <% } %>
                <% if (!is_mobile) { %>
                <% if (dream.mood) { %>
                <span class="mood">
                    心情：<%= dream.mood %>
                </span>
                <% } %>
                <% if (dream.health) { %>
                <span class="health">
                    身体状况：<%= dream.health %>
                </span>
                <% } %>
                <span class="things">
                    <% if (dream.category === 'news') { %>
                    记录了一篇“网页”...
                    <% } else if (dream.category === 'image') { %>
                    分享了一张“图画”...
                    <% } else if (dream.category === 'text') { %>
                    写了一篇“文字”...
                    <% } %>
                </span>
                <% } %>
            </div>
            <div class="userctrl">
                <% if (user && (data.tag && data.tag.delperm)) { %>
                <a href="javascript:;" data-did="<%= dream._id %>" rel="dream-reject"><i class="s s-remove s-lg"></i>拒绝</a>
                <% } %>
                <% if (user && dream._belong_u) { %>
                <% if (dream._belong_u._id.equals(user._id)) { %>
                <% if (!dream.isremove) { %>
                <a href="javascript:;" data-did="<%= dream._id %>" rel="dream-delete"><i class="s s-remove s-lg"></i>删除</a>
                <% } else { %>
                <span>已删除</span>
                <% } %>
                <% } %>
                <% } %>
            </div>
        </div>
        <% if (is_mobile) { %>
        <div class="userinfo-mobile">
            <% if (dream.place) { %>
            <span class="place">
                地点：<%= dream.place %>
            </span>
            <% } %>
            <% if (dream.mood) { %>
            <span class="mood">
                心情：<%= dream.mood %>
            </span>
            <% } %>
            <% if (dream.health) { %>
            <span class="health">
                身体状况：<%= dream.health %>
            </span>
            <% } %>
            <span class="things">
                <% if (dream.category === 'news') { %>
                记录了一篇“网页”...
                <% } else if (dream.category === 'image') { %>
                分享了一张“图画”...
                <% } else if (dream.category === 'text') { %>
                写了一篇“文字”...
                <% } %>
            </span>
        </div>
        <% } %>
        <% if (dream.category === 'news') { %>
        <a 
            <% if (dream.link) { %>
            href="<%= dream.link %>"
            <% } else { %>
            href="/dream/<%= dream._id %>"
            <% } %>
        >
        <% } %>
        <div 
            <% if (dream.category === 'news') { %>
            <% if (dream.thumbnail) { %>
            class="post-content thumb-mode news"
            <% } else { %>
            class="post-content news"
            <% } %>
            <% } else if (dream.category === 'image') { %>
            class="post-content image"
            <% } else if (dream.category === 'text') { %>
            class="post-content text"
            <% } %>
        >
            <% if (dream.isremove) { %>
                [已被作者删除]
            <% } else { %>
            <% if (is_mobile) { %>
                <% if (dream.mthumbnail && dream.category !== 'image') { %>
                <div class="thumbnail">
                    <img src="<%= dream.mthumbnail %>" />
                </div>
                <% } %>
            <% } else { %>
                <% if (dream.thumbnail && dream.category !== 'image') { %>
                <div class="thumbnail">
                    <img src="<%= dream.thumbnail %>" />
                </div>
                <% } %>
            <% } %>
            <% if (dream.thumbnail && dream.category === 'image') { %>
            <% if (!is_mobile) { %>
            <div rel="dream-picsrc" class="piccard">
                <img src="<%= dream.thumbnail %>" />
            </div>
            <% } else { %>
            <div class="piccard">
                <a href="<%= dream.thumbnail.replace('picmini', 'uploads') %>"><img src="<%= dream.thumbnail %>" /></a>
            </div>
            <% } %>
            <% } %>
            <div class="entry">
            <% if (dream.content) { %>
            <div class="title">
            <% if (dream.category === 'news') { %>
            <i class="s s-link s-lg"></i>&nbsp;
            <% } %>
            <% if (data.query) { %>
            <%- highLight(dlimit(dream.content), data.query) %>
            <% } else { %>
            <%= dlimit(dream.content) %>
            <% } %>
            </div>
            <% } %>
            <% if (dream.summary) { %>
            <div class="summary">
                <%- dream.summary %>
                <% if (dream.category === 'text' && dream.showall) { %>
                <a href="javascript:;" class="show-all" data-did="<%= dream._id %>" rel="text-view">全文&nbsp;↓</a>
                <% } %>
            </div>
            <% } %>
            </div>
            <% } %>
        </div>
        <% if (dream.category === 'news') { %>
        </a>
        <% } %>
        <div class="post-footer">
            <div class="ctrl-box">
                <% if (user) { %>
                <% if (dream.good && dream.good.length > 0) { %>
                <a class="owed" href="javascript:;" title="喜欢" data-did="<%= dream._id %>" data-hasgood="true" rel="dream-good"><div class="owed-inner"><i class="s s-arrow_up s-2x s-ac"></i>
                <% } else { %>
                <a class="owed" href="javascript:;" title="喜欢" data-did="<%= dream._id %>" data-hasgood="false" rel="dream-good"><div class="owed-inner"><i class="s s-arrow_up s-2x"></i>
                <% } %>
                <% } else { %>
                <a class="owed" href="javascript:;" title="喜欢" data-did="<%= dream._id %>" data-hasgood="false" rel="dream-good"><div class="owed-inner"><i class="s s-arrow_up s-2x"></i>
                <% } %>
                <% if (!is_mobile) { %>
                <span class="vote-num" rel="vote-num">有<%= dream.vote %>人喜欢...</span></div></a>
                <% } else { %>
                <span class="vote-num" rel="vote-num"><%= dream.vote %></span></div></a>
                <% } %>
            </div>
        </div>
    </div>
</li>
<%} else {%>
<li class="list-item">
    <div class="post-box">
        <div class="error-data">
            [该内容显示异常]
        </div>
    </div>
</li>
<% } %>

