<div id="dream-tab-bar" class="nav-bar">
    <div class="tab-nav">
        <% if (data.role == '1') { %>
        <a rel="nav-toggle" class="nav-toggle">受欢迎的<i class="s s-arrow s-lg"></i></a>
        <% } %>
        <% if (data.role == '2') { %>
        <a rel="nav-toggle" class="nav-toggle">新发布的<i class="s s-arrow s-lg"></i></a>
        <% } %>
        <ul class="nav-list">
            <li><a 
                hidefocus="true" class="tab <% if (data.role == '1') { %>cur"<% } %>" 
                href="<%= (data.nav && ('/' + data.nav)) %>/<%= (data.tag && data.tag._id) %><%= (data.account && data.account._id) %><%= data.site %>">受欢迎的</a></li>
            <li><a 
                hidefocus="true" class="tab <% if (data.role == '2') { %>cur"<% } %>" 
                href="<%= (data.nav && ('/' + data.nav)) %>/<%= (data.tag && data.tag._id) %><%= (data.account && data.account._id) %><%= data.site %>?r=2">新发布的</a></li>
        </ul>
    </div>
    <div class="nav-ctrl">
        <a id="dream-refresh" class="refresh" href="javascript:;">
            <i class="s s-refresh s-lg"></i>
        </a>
    </div>
</div>
<ul id="dream-list" class="list-group">
    <% if (data.dreams && data.dreams.length > 0) { %>
    <% data.dreams.forEach(function(dream) { %>
    <% include ../partials/postitem.html %>
    <% }); %>
    <% if (data.hasmore) { %>
    <li class="list-item">
        <div class="more"><a href="/?r=<%= data.role %>&p=<%= data.next %>&o=<%= data.order %>" class="btn">阅读更多&nbsp;↓</a></div>
    <% } %>
    <% } else { %>
    <% if (user) { %>
    <li class="list-item">
        <div class="nodata">
            <% if (data.nav === 'subscription') { %>
            您还没有订阅任何任容&nbsp;<a href="/tag/hot" class="btn">去订阅 →</a>
            <% } else { %>
            当前没有内容
            <% } %>
        </div>
    </li>
    <% } else { %>
    <li class="list-item">
        <div class="nodata">
            <% if (data.nav === 'tag') { %>
            <% if ((!data.site && !data.tag) || (data.tag && data.tag.ispublic) || (user && user._id && data.tag && data.tag.president && data.tag.president._id.equals(user._id) && !data.tag.ispublic)) { %>
            该小报下没有发布内容&nbsp;<button id="listTextNew" class="btn"><i class="s s-plus s-lg"></i></button>
            <% } else { %>
            该小报下没有发布内容&nbsp;
            <% } %>
            <% } else if (data.nav === 'user') { %>
            <% if (user &&  user._id && data.account && data.account._id && user._id.equals(data.account._id)) { %>
            您还没有分享任何内容&nbsp;<button id="listTextNew" class="btn"><i class="s s-plus s-lg"></i></button>
            <% } else { %>
            主人没有分享任何内容
            <% } %>
            <% } else { %>
            当前没有内容
            <% } %>
        </div>
    </li>
    <% } %>
    <% } %>
</ul>
<div id="imageViewer"></div>
<div class="global-ctrl">
    <ul>
        <% if ((!data.site && !data.tag) || (user && user._id)) { %>
        <!--<li>
            <div id="dreamReleaseImage" class="release-box">
                <div class="tips">发图片</div>
                <button title="发图片" class="btn btn-round btn-new small">
                    <i class="s s-image s-2x"></i>
                </button>
            </div>
        </li>
        <li>
            <div id="dreamReleaseText" class="release-box">
                <div class="tips">发文字</div>
                <button title="发文字" class="btn btn-round btn-new small">
                    <i class="s s-text s-2x"></i>
                </button>
            </div>
        </li>
        <li>
            <div id="dreamReleaseLink" class="release-box">
                <div class="tips">发网址</div>
                <button title="发网址" class="btn btn-round btn-new small">
                    <i class="s s-link s-2x"></i>
                </button>
            </div>
        </li>-->
        <li>
            <div id="dreamReleaseNews" class="release-box" data-tid="<%= data.tag && data.tag._id %>">
                <div class="tips">发布日常</div>
                <button id="dreamReleaseNews" title="发布日常" class="btn btn-round btn-new">
                    <i class="s s-plus s-2x"></i>
                </button>
            </div>
        </li>
        <% } %>
        <!--<li>-->
            <!--<button title="回到顶部" class="btn btn-round btn-success">-->
                <!--<i class="s s-arrow_up s-lg"></i>-->
            <!--</button>-->
        <!--</li>-->
    </ul>
</div>

