<li class="list-item">
    <div class="post-box">
        <div class="post-header">
             <div class="postHeaderUserInfo">
                <% if (dream._belong_u) { %>
                <a class="avatar" href="/user/<%= dream._belong_u._id %>"><img width="25" height="25" src="<%= dream._belong_u.avatar_mini || '/images/avatar_mini.png' %>" /></a>
                <a class="postHeaderUname" href="/user/<%= dream._belong_u._id %>"><%= dream._belong_u.nickname %></a>
                <% } else { %>
                <a class="avatar" href="/user/unknow"><img width="25" height="25" src="/images/avatar_mini.png" /></a>
                <a class="postHeaderUname" href="/user/unknow">未知用户</a>
                <% } %>
            </div>
            <% if (dream._belong_t) { %>
            <div class="postHeaderTagInfo">
                <a class="tag" href="/tag/<%= dream._belong_t._id || 'unknow' %>"><%= dream._belong_t? dream._belong_t.key:'未知' %></a>
            </div>
            <% } %>
            <div class="postHeaderDateInfo">
                <%= timeFormat(dream.date) %>
            </div>
        </div>
        <div class="post-content thumb-mode">
            <% if (dream.isremove) { %>
                [已被作者删除]
            <% } else { %>
            <div class="entry">
            <a 
                <% if (dream.link) { %>
                href="<%= dream.link %>"
                <% } else { %>
                href="/dream/<%= dream._id %>"
                <% } %>
            >
            <% if (data.query) { %>
            <%- highLight(dlimit(dream.content), data.query) %>
            <% } else { %>
            <%= dlimit(dream.content) %>
            <% } %>
            </a>
            <% if (dream.site) { %>
            <a href="/site/<%= dream.site %>">(<%= dream.site %>)</a>
            <% } %>
            </div>
            <% if (dream.summary) { %>
            <div class="summary">
                <%- dream.summary %>
            </div>
            <% } %>
            <% } %>
        </div>
        <div class="post-footer">
             <div class="comment-ctrl-box"><a href="/dream/<%= dream._id %>#dreamCtrlBox"><i class="s s-comment s-lg"></i>&nbsp;留言(<%= dream.cnum %>)&nbsp;<% dream.nodes.length %></a></div>
            <div class="vote-ctrl-box">
                <% if (user) { %>
                <% if (dream.good && dream.good.length > 0) { %>
                <a href="javascript:;" title="帮他顶上去" data-did="<%= dream._id %>" data-hasgood="true" rel="dream-good"><i class="s s-arrow_up s-lg s-ac"></i></a>
                <% } else { %>
                <a href="javascript:;" title="帮他顶上去" data-did="<%= dream._id %>" data-hasgood="false" rel="dream-good"><i class="s s-arrow_up s-lg"></i></a>
                <% } %>
                <% } else { %>
                <a href="javascript:;" title="帮他顶上去" data-did="<%= dream._id %>" data-hasgood="false" rel="dream-good"><i class="s s-arrow_up s-lg"></i></a>
                <% } %>
                <span class="vote-num" rel="vote-num"><%= dream.vote %></span>
                <% if (user) { %>
                <% if (dream.bad && dream.bad.length > 0) { %>
                <a href="javascript:;" title="给他挤下去" data-did="<%= dream._id %>" data-hasbad="true" rel="dream-bad"><i class="s s-arrow_down s-lg s-ac"></i></a>
                <% } else { %>
                <a href="javascript:;" title="给他挤下去" data-did="<%= dream._id %>" data-hasbad="false" rel="dream-bad"><i class="s s-arrow_down s-lg"></i></a>
                <% } %>
                <% } else { %>
                <a href="javascript:;" title="给他挤下去" data-did="<%= dream._id %>" data-hasbad="false" rel="dream-bad"><i class="s s-arrow_down s-lg"></i></a>
                <% } %>
            </div>
            <div class="more-ctrl-toggle">
                <a href="javascript:;">•••</a>
            </div>
            <div class="more-ctrl-box">
                <% if (user) { %>
                <% if (dream._followers_u && dream._followers_u.length > 0) { %>
                <a data-did="<%= dream._id %>" data-hasfav="true" rel="dream-favourite" href="javascript:;">已收藏</a>
                <% } else { %>
                <a data-did="<%= dream._id %>" data-hasfav="false" rel="dream-favourite" href="javascript:;">收藏</a>
                <% } %>
                <% } else { %>
                <a data-did="<%= dream._id %>" data-hasfav="false" rel="dream-favourite" href="javascript:;">收藏</a>
                <% } %>
                <% if (user && (data.tag && data.tag.delperm)) { %>
                <a href="javascript:;" data-did="<%= dream._id %>" rel="dream-reject">学派驳回</a>
                <% } %>
                <% if (user && dream._belong_u) { %>
                <% if (dream._belong_u._id.equals(user._id)) { %>
                <% if (!dream.isremove) { %>
                <a href="javascript:;" data-did="<%= dream._id %>" rel="dream-delete">个人删除</a>
                <% } else { %>
                <span>已删除</span>
                <% } %>
                <% } %>
                <% } %>
                <!--<div class="share-box dropdown">
                    <a rel="dream-share" href="javascript:;" class="dropdown-toggle" data-did="<%= dream._id %>">分享到</a>
                    <ul class="dropdown-menu">
                        <li class="only-pc"><a rel="wb_share" href="javascript:;"><i class="s s-wb s-3x"></i></a></li>
                        <li class="only-pc"><a rel="qzone_share" href="javascript:;"><i class="s s-qzone s-3x"></i></a></li>
                        <li><a rel="weixin_share" href="javascript:;"><i class="s s-weixin s-3x"></i></a></li>
                        <li>
                            <div class="only-mobile">长按以下地址拷贝到你要分享到的站点...</div>
                            <input name="query" placeholder="拷贝地址到你要分享到的站点..." value="http://<%= data.domain %>/dream/<%= dream._id %>" />
                        </li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
</li>

