<li class="list-item">
    <div class="post-box">
        <% if (is_mobile) { %>
        <div class="post-header">
            <div class="user-info-box">
                 <% if (dream._belong_u) { %>
                 <a class="avatar" href="/user/<%= dream._belong_u._id %>">
                     <img src="<%= dream._belong_u.avatar || '/images/avatar.png' %>" />
                 </a>
                 <a class="username" href="/user/<%= dream._belong_u._id %>"><%= dream._belong_u.username %></a>
                 <% } else { %>
                 <a class="avatar" href="/user/unknow"><img width="25" height="25" src="/images/avatar_mini.png" /></a>
                 <a class="username" href="/user/unknow">未知</a>
                 <% } %>
                 <span class="datetime">
                     <%= timeFormat(dream.date) %>
                 </span>
            </div>
        </div>
        <% } %>
        <div class="post-content <% if (dream.thumbnail && dream.category !== 'image') { %>thumb-mode<% } %>">
            <% if (dream.isremove) { %>
                [已被作者删除]
            <% } else { %>
            <div class="entry">
            <div class="title">
            <% if (dream.category === 'image') { %>
            <% if (data.query) { %>
            <%- highLight(dlimit(dream.content), data.query) %>
            <% } else { %>
            <%= dlimit(dream.content) %>
            <% } %>
            <% } else { %>
            <a 
                <% if (dream.link) { %>
                href="<%= dream.link %>"
                <% } else { %>
                href="/dream/<%= dream._id %>"
                <% } %>
            >
            <% if (data.query) { %>
            <%- highLight(dlimit(dream.content), data.query) %>
            <% } else { %>
            <%= dlimit(dream.content) %>
            <% } %>
            </a>
            <% } %>
            </div>
            <% if (dream.summary) { %>
            <div class="summary">
                <% if (is_mobile) { %>
                <%- (dream.summary.slice(0, 80) + '...') %>
                <% } else { %>
                <%- dream.summary %>
                <% } %>
            </div>
            <% } %>
            <% if (dream.category === 'image') { %>
            <div rel="dream-picsrc" class="piccard">
                <img src="<%= dream.thumbnail %>" />
            </div>
            <% } %>
            </div>
            <% if (is_mobile) { %>
                <% if (dream.mthumbnail && dream.category !== 'image') { %>
                <div class="thumbnail" rel="dream-picsrc">
                    <img src="<%= dream.mthumbnail %>" />
                </div>
                <% } %>
            <% } else { %>
                <% if (dream.thumbnail && dream.category !== 'image') { %>
                <div class="thumbnail" rel="dream-picsrc">
                    <img src="<%= dream.thumbnail %>" />
                </div>
                <% } %>
            <% } %>
            <% } %>
        </div>
        <div class="post-footer">
            <% if (!is_mobile) { %>
            <div class="user-info-box">
                 <% if (dream._belong_u) { %>
                 <a class="avatar" href="/user/<%= dream._belong_u._id %>">
                     <img src="<%= dream._belong_u.avatar || '/images/avatar.png' %>" />
                 </a>
                 <a class="username" href="/user/<%= dream._belong_u._id %>"><%= dream._belong_u.username %></a>
                 <% } else { %>
                 <a class="avatar" href="/user/unknow"><img width="25" height="25" src="/images/avatar_mini.png" /></a>
                 <a class="username" href="/user/unknow">未知</a>
                 <% } %>
                 <span class="datetime">
                     <%= timeFormat(dream.date) %>
                 </span>
            </div>
            <% } %>
            <div class="ctrl-box">
                <% if (user) { %>
                <% if (dream.good && dream.good.length > 0) { %>
                <a class="owed" href="javascript:;" title="感恩" data-did="<%= dream._id %>" data-hasgood="true" rel="dream-good"><i class="s s-arrow_up s-lg s-ac"></i>
                <% } else { %>
                <a class="owed" href="javascript:;" title="感恩" data-did="<%= dream._id %>" data-hasgood="false" rel="dream-good"><i class="s s-arrow_up s-lg"></i>
                <% } %>
                <% } else { %>
                <a class="owed" href="javascript:;" title="感恩" data-did="<%= dream._id %>" data-hasgood="false" rel="dream-good"><i class="s s-arrow_up s-lg"></i>
                <% } %>
                <span class="vote-num" rel="vote-num"><%= dream.vote %></span></a>
                <a href="/dream/<%= dream._id %>#dreamCtrlBox">留言&nbsp;<span class="comment-num"><%= dream.cnum %></span></a>
                <% if (user) { %>
                <% if (dream._followers_u && dream._followers_u.length > 0) { %>
                <a data-did="<%= dream._id %>" data-hasfav="true" rel="dream-favourite" href="javascript:;">已收藏</a>
                <% } else { %>
                <a data-did="<%= dream._id %>" data-hasfav="false" rel="dream-favourite" href="javascript:;">收藏</a>
                <% } %>
                <% } else { %>
                <a data-did="<%= dream._id %>" data-hasfav="false" rel="dream-favourite" href="javascript:;">收藏</a>
                <% } %>
                <% if (user && (data.tag && data.tag.delperm)) { %>
                <a href="javascript:;" data-did="<%= dream._id %>" rel="dream-reject">学派驳回</a>
                <% } %>
                <!--<% if (user && dream._belong_u) { %>
                <% if (dream._belong_u._id.equals(user._id)) { %>
                <% if (!dream.isremove) { %>
                <a href="javascript:;" data-did="<%= dream._id %>" rel="dream-delete">个人删除</a>
                <% } else { %>
                <span>已删除</span>
                <% } %>
                <% } %>
                <% } %>-->
            </div>
        </div>
    </div>
</li>

