<form action="/signin" method="post">
    <div>
        <p class="field"><input type="text" data-label="邮箱" id="username" name="username" placeholder="邮箱" required></p>
    </div>
    <div>
        <p class="field"><input type="password" data-label="密码" id="password" name="password" placeholder="密码" required autocomplete="off"></p>
    </div>
    <div class="other-ctrl">
        <a class="forget-pwd" href="/forgot">忘记密码 ?</a>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">登录</button>
    </div>
</form>

