.top-nav-crumbs {
  background-color: #fefefe;
  border-bottom: 1px solid #eaeaea;
}
.top-nav-crumbs .main {
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  position: relative;
}
.top-nav-crumbs .main ul {
  display: inline;
}
.top-nav-crumbs .main ul li {
  display: inline;
  white-space: nowrap;
}
.top-nav-crumbs .main ul li:not(:last-child):after {
  content: '>';
  margin-right: 5px;
  padding: 0 5px;
  font-family: Arial;
  color: #bbb;
}
.top-nav-crumbs .main ul li a {
  color: #999;
  line-height: 36px;
  margin: 0 10px;
}
h1.dream-title {
  margin-top: 1.5em;
  font-size: 16px;
  font-weight: bold;
  word-wrap: break-word;
  word-break: normal;
}
.dream-detail-info,
.dream-detail-info a {
  margin-top: 1em;
  font-size: 0.75em;
  color: #888;
}
.read-viewer {
  font-size: 14px;
  margin-top: 1.5em;
}
.read-viewer .viewer-summary .viewer-summary-content {
  padding: 10px;
  line-height: 22px;
  color: #666;
}
.read-viewer .viewer-summary .viewer-summary-more {
  padding: 0 10px 10px;
}
.read-viewer .viewer-content {
  overflow: hidden;
  color: #333;
  line-height: 2.5em;
  word-wrap: break-word;
  word-break: normal;
}
.read-viewer .viewer-content img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}
.read-viewer .viewer-content h2 {
  margin: 20px 0;
  font-size: 1.5em;
  font-weight: 400;
}
.read-viewer .viewer-content ol,
.read-viewer .viewer-content ul {
  margin: 16px 0;
  padding-left: 24px;
}
.read-viewer .viewer-content ul li {
  list-style-type: disc;
}
.read-viewer .viewer-content ol li {
  list-style-type: decimal;
}
.read-viewer .viewer-content blockquote {
  margin: .8em 0;
  padding: 0 0 0 10px;
  font-style: normal;
  font-size: 100%;
  line-height: 22px;
  border-left: 3px solid #D0E5F2;
}
.read-viewer .viewer-content pre {
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
  margin: 1em 0;
  padding: .4em .6em;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 2px;
  background: #f8f8f8;
  display: block;
  white-space: pre-wrap;
}
.dream-ctrl {
  margin-top: 1em;
  padding: 0.625em;
}
.dream-ctrl > div {
  height: 27px;
  line-height: 27px;
  float: right;
}
.dream-ctrl > div a,
.dream-ctrl > div span {
  height: 27px;
  line-height: 27px;
  display: inline-block;
  margin: 0 10px;
  color: #a8a8a8;
}
.dream-ctrl > div a:hover,
.dream-ctrl > div span:hover {
  color: #3aabff;
  text-decoration: underline;
}
.share-box {
  float: right;
}
.comment-ctrl-box em {
  font-style: normal;
}
.comment-info {
  padding: 10px;
  margin-top: 10px;
}
.comment-info .alert {
  margin-bottom: 0;
}
.comment-input {
  margin-top: 1em;
}
.comment-input textarea {
  height: 80px;
  border-color: #e8e8e8;
  padding: 0.625em;
}
.comment-input .btn-group {
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  line-height: 36px;
  height: 36px;
}
.comment-input .btn-group .btn {
  display: block;
}
.comment-input .btn-group .common-new-state {
  float: left;
  margin-left: 10px;
}
