.tag-top-head {
  background-color: #fefefe;
  border-bottom: 1px solid #f2f3f4;
  padding: 20px;
}
.tag-top-head .main h2 {
  margin: 0;
  padding: 0;
}
.tag-top-head .main .tag-head-info {
  overflow: hidden;
  position: relative;
}
.tag-top-head .main .tag-head-info .tagHead-infoInner {
  float: left;
  margin-right: 150px;
}
.tag-top-head .main .tag-head-about {
  font-size: 12px;
  color: #666;
}
.tag-top-head .main .tag-head-ctrl {
  float: right;
  right: 10;
  bottom: 0;
  position: absolute;
}
.tag-top-head .main .tag-head-ctrl a.btn {
  display: block;
}
#dream-tab-bar .tab-nav ul li:first-child .tab {
  border-right: 1px solid #eaeaea;
}
#dream-tab-bar .tab-nav ul li .tab {
  margin: 5px 0;
  height: 24px;
  line-height: 24px;
}
#dream-tab-bar .tab-nav ul li .tab.cur {
  border-bottom: none;
  color: #333;
}
#dream-tab-bar .tab-nav ul li .tab:hover {
  border-bottom: none;
  color: #333;
  font-weight: normal;
}
