.user-page-head {
  padding-top: 20px;
  border-bottom: 1px solid #f2f3f4;
}
.user-page-head .user-head-info .user-head-avatar {
  margin: 0 auto;
  width: 96px;
}
.user-page-head .user-head-info .userHead-infoInner {
  text-align: center;
}
.user-page-head .user-head-info .userHead-infoInner .user-mood {
  margin-top: 10px;
}
.user-page-head .user-head-info .userHead-infoInner .user-mood,
.user-page-head .user-head-info .userHead-infoInner .user-health {
  color: #999;
  font-size: 14px;
  line-height: 27px;
  word-wrap: break-word;
  word-break: break-all;
}
.user-page-head .user-head-info .userHead-infoInner .user-mood em,
.user-page-head .user-head-info .userHead-infoInner .user-health em {
  color: #333;
}
.user-page-head .user-head-info .userHead-infoInner .user-mood input,
.user-page-head .user-head-info .userHead-infoInner .user-health input {
  width: 300px;
}
.user-page-head .user-head-info .userHead-infoInner .user-mood a,
.user-page-head .user-head-info .userHead-infoInner .user-health a {
  color: #999;
  margin-left: 10px;
  font-size: 12px;
}
.user-page-head .user-head-info .userHead-infoInner .user-mood a i,
.user-page-head .user-head-info .userHead-infoInner .user-health a i {
  margin-right: 5px;
}
.bio,
.karma-list {
  margin-left: 20px;
  padding-bottom: 15px;
}
.bio h2,
.karma-list h2 {
  font-weight: normal;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #f0f0f0;
}
.bio {
  border-bottom: 1px solid #f0f0f0;
}
.bio textarea {
  padding: 5px;
  height: 150px;
}
.bio .bio-des {
  overflow: hidden;
  padding: 10px 0;
  word-wrap: break-word;
  word-break: normal;
  min-height: 80px;
}
.karma-list .list-group {
  overflow: hidden;
  padding: 10px 0;
}
.karma-list .list-item {
  overflow: hidden;
  border-bottom: none;
  margin-right: 20px;
  float: left;
}
.user-tab-bar h2 {
  font-size: 16px;
}
.user-tab-bar p {
  font-size: 10px;
}
.user-tab-bar ul li {
  width: 33.33%;
}
