.user-page-head {
    padding: 20px;
    background-color: #fefefe;
    border-bottom: 1px solid #f2f3f4;
    .user-head-info {
        .user-head-avatar {
            margin: 0 auto;
            width: 96px;
        }
        .userHead-infoInner {
            text-align: center;
            .user-mood {
                margin-top: 10px;
            }
            .user-mood, .user-health {
                color: #999;
                font-size: 14px;
                line-height: 27px;
                word-wrap: break-word; 
                word-break: break-all;
                em {
                    color: #333;
                }
                input {
                    width: 300px;
                }
                a {
                    color: #999;
                    margin-left: 10px;
                    font-size: 12px;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.bio, .karma-list {
    margin-left: 20px;
    padding-bottom: 15px;
    h2 {
        font-weight: normal;
        font-size: 14px;
        height: 36px;
        line-height: 36px;
        border-bottom: 1px solid #f0f0f0;
    }
}

.bio {
    textarea {
        padding: 5px;
        height: 150px;
    }
    .bio-des {
        overflow: hidden;
        padding: 10px 0;
        word-wrap: break-word; 
        word-break: normal;
        min-height: 80px;
    }
    border-bottom: 1px solid #f0f0f0;
}

.karma-list {
    .list-group {
        overflow: hidden;
        padding: 10px 0;
    }
    .list-item {
        overflow: hidden;
        border-bottom: none;
        margin-right: 20px;
        float: left;
    }
}

.user-tab-bar {
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 10px;
    }
    ul {
        li {
            width: 33.33%;
        }
    }
}

