<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= data.current.content %> - <%= settings.APP_NAME %></title>
    <link rel="shortcut icon" href="/favicon.ico" /> 
    <% include ../partials/head_css.html %>
    <% if (is_mobile) { %>
    <link href="/mobilecss/dream.css" rel="stylesheet" type="text/css" />
    <% } else { %>
    <link href="/css/dream.css" rel="stylesheet" type="text/css" />
    <% } %>
    <% include ../partials/head_js.html %>
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container top-nav-crumbs mar-top">
        <div class="main">
            <ul>
                <li class="list-item">
                    <a href="/">←&nbsp;返回</a>
                </li>
                <!--<% if (data.current._belong_t) { %>
                <li class="list-item">
                    <a href="/tag/<%= data.current._belong_t._id %>"><%= data.current._belong_t.key %></a>
                </li>
                <% } else { %>
                <li class="list-item">
                    <a href="/tag/unknow">未知板块</a>
                </li>
                <% } %>-->
                <li class="list-item">
                    
                </li>
            </ul>
        </div>
    </div>
    <div class="container clearfix">
        <div class="main">
            <div class="col-8">
            <div class="content-area">
                <% if (data.current.content) { %>
                <% if (data.current.link) { %>
                <a href="<%= data.current.link %>"> <h1 id="sharetitle" class="dream-title"><%= data.current.content %></h1></a>
                <!--<% if (data.current.site) { %>
                <a href="/site/<%= data.current.site %>">(<%= data.current.site %>)</a>
                <% } %>-->
                <% } else { %>
                <h1 id="sharetitle" class="dream-title"><%= data.current.content %></h1>
                <% } %>
                <% } %>
                <div class="dream-detail-info">
                    <% if (data.current._belong_u) { %>
                    <a href="/user/<%= data.current._belong_u._id %>"><%= data.current._belong_u.username %></a>
                    发表于&nbsp;<%= timeFormat(data.current.date) %>
                    <% } else { %>
                    作者不详
                    <% } %>
                </div>
                <% if (!data.current.isremove) { %>
                <% if (data.current.text) { %>
                <div class="read-viewer">
                    <% if (data.current.text.length > 147) { %>
                    <div class="viewer-summary">
                        <div class="viewer-summary-content">
                            <%- data.current.summary %>
                        </div>
                        <div class="viewer-summary-more">
                            <a href="javascript:;" rel="dream-expand">查看全部&nbsp;→</a>
                        </div>
                    </div>
                    <div class="viewer-content" style="display: none;">
                        <%- data.current.text %>
                    </div>
                    <% } else { %>
                    <div class="viewer-content">
                        <%- data.current.text %>
                    </div>
                    <% } %>
                </div>
                <% } %>
                <% if (data.current.pic) { %>
                <div class="image-viewer">
                    <img src="<%= data.current.pic %>" >
                </div>
                <% } %>
                <% } else { %>
                <div class="panel read-viewer no-exist-content">[该帖文已被作者删除]</div>
                <% } %>
            </div>
            <div id="dreamCtrlBox" class="dream-ctrl clearfix">
                <div class="ctrl-box">
                    <% if (user) { %>
                    <% if (data.current.good && data.current.good.length > 0) { %>
                    <a class="owed" href="javascript:;" data-did="<%= data.current._id %>" data-hasgood="true" rel="dream-good"><i class="s s-arrow_up s-2x s-ac"></i>
                    <% } else { %>
                    <a class="owed" href="javascript:;" data-did="<%= data.current._id %>" data-hasgood="false" rel="dream-good"><i class="s s-arrow_up s-2x"></i>
                    <% } %>
                    <% } else { %>
                    <a class="owed" href="javascript:;" data-did="<%= data.current._id %>" data-hasgood="false" rel="dream-good"><i class="s s-arrow_up s-2x"></i>
                    <% } %>
                    <em class="vote-num" rel="vote-num"><%= data.current.vote %></em></a>
                    <span>留言<em class="comment-num" id="commentNum"><%= data.current.cnum %></em></span>
                    <% if (user) { %>
                    <% if (data.current._followers_u && data.current._followers_u.length > 0) { %>
                    <a data-did="<%= data.current._id %>" data-hasfav="true" rel="dream-favourite" href="javascript:;">已收藏</a>
                    <% } else { %>
                    <a data-did="<%= data.current._id %>" data-hasfav="false" rel="dream-favourite" href="javascript:;">收藏</a>
                    <% } %>
                    <% } else { %>
                    <a data-did="<%= data.current._id %>" data-hasfav="false" rel="dream-favourite" href="javascript:;">收藏</a>
                    <% } %>
                    <% if (user && data.current._belong_u) { %>
                    <% if (data.current._belong_u._id.equals(user._id)) { %>
                    <% if (!data.current.isremove) { %>
                    <a href="javascript:;" data-did="<%= data.current._id %>" rel="dream-delete">删除</a>
                    <%} else {%>
                    <span>已删除</span>
                    <% } %>
                    <% } %>
                    <% } %>
                </div>
            </div>
            <div data-rid="<%= data.current._id %>" id="dreamComment" class="dream-comment">
                <% if (user) { %>
                <div class="comment-input">
                    <textarea id="comment-editor" placeholder="说说你的看法..." name="content"></textarea>
                    <div class="btn-group">
                        <button type="submit" id="comment_create_btn" class="btn">送出 ></button>
                        <div class="common-new-state" style="display: none;"></div>
                    </div>
                </div>
                <% } %>
                <div>
                    <% if (data.focus === 'dream') { %>
                    <div class="tag-list">
                        <ul>
                            <li><a data-rid="<%= data.current._id %>" data-reply="0" data-cnext="1" data-sort="1" data-focus="<% data.focus %>" rel="comments-hot" class="tag <% if (data.role == '1') { %>cur"<% } %>" href="javascript:;">受欢迎的</a></li>
                            <li><a data-rid="<%= data.current._id %>" data-reply="0" data-cnext="1" data-sort="2" data-focus="<% data.focus %>" rel="comments-new" class="tag <% if (data.role == '2') { %>cur"<% } %>" href="javascript:;">新发布的</a></li>
                        </ul>
                    </div>
                    <%} else if (data.focus === 'comment') {%>
                    <div class="tag-list">
                        <ul>
                            <li><a data-did="<%= data.current._id %>" data-rid="<%= data.cid %>" data-reply="1" data-cnext="1" data-sort="1" data-focus="<%= data.focus %>" rel="comments-hot" class="tag <% if (data.role == '1') { %>cur"<% } %>" href="javascript:;">受欢迎的</a></li>
                            <li><a data-did="<%= data.current._id %>" data-rid="<%= data.cid %>" data-reply="1" data-cnext="1" data-sort="2" data-focus="<%= data.focus %>" rel="comments-new" class="tag <% if (data.role == '2') { %>cur"<% } %>" href="javascript:;">新发布的</a></li>
                        </ul>
                    </div>
                    <% } %>
                </div>
                <% if (data.focus === 'comment') { %>
                <div class="comment-info">
                    <p class="alert alert-info">
                    您当前查看的是单一留言的讨论串，<a data-rid="<%= data.current._id %>" data-reply="0" data-cnext="1" data-sort="<%= data.role %>" rel="query-all-comments" href="javascript:;">查看全部留言&nbsp;→&nbsp;</a>
                    </p>
                </div>
                <% } %>
                <ul class="list-group comment-list">
                    <% include ../partials/commentfirstlist.html %>
                </ul>
            </div>
            </div>
            <div class="col-4 sider">
                <!--<% if (data.current._belong_t) { %>
                <div class="tag-info">
                    <a href="/tag/<%= data.current._belong_t._id %>"><h2><%= data.current._belong_t.key %>&nbsp;→</h2></a>
                </div>
                <div class="blackboard">
                    <div id="descContent" class="tag-des">
                    <% if (data.current._belong_t.description) { %>
                        <%= data.current._belong_t.description %>
                    <% } else { %>
                        木有内容...
                    <% } %>
                    </div>
                </div>
                <% } %>-->
                <% if (data.current._belong_u) { %>
                <div class="tag-info">
                    <a href="/user/<%= data.current._belong_u._id %>"><h2><%= data.current._belong_u.username %>&nbsp;→</h2></a>
                </div>
                <div class="blackboard">
                    <div id="descContent" class="tag-des">
                    <% if (data.current._belong_u.bio) { %>
                        <%= data.current._belong_u.bio %>
                    <% } else { %>
                        木有内容...
                    <% } %>
                    </div>
                </div>
                <% } %>
            </div>
            <!--<div class="global-ctrl">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<button id="dreamReleaseText" title="回复作者" class="btn btn-round btn-new">-->
                            <!--<i class="s s-plus s-lg"></i>-->
                        <!--</button>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
    <% include ../partials/footer.html %>
    <% if (is_mobile) { %>
    <script src="/mobilejs/dream.js"></script>
    <% } else { %>
    <script src="/js/dream.js"></script>
    <% } %>
</body>
</html>
