<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>邮箱 - <%= settings.APP_NAME %></title>
    <% include ../partials/head_css.html %>
    <% include ../partials/head_js.html %>
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container tag-top-head mar-top">
        <div class="main">
            <div class="tag-head-info">
                <div class="tagHead-infoInner">
                    <h2>个人设定</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="settings-area">
            <% include ../partials/settingsider.html %>
            <div class="settings-content">
                <div class="content-area">
                    <div class="account-form">
                        <form id="email-form" accept-charset="UTF-8" action="/settings/emails/reverification" method="post">
                            <div><%= data.error %></div>
                            <div>您的邮箱地址：<%= user.email %></div>
                            <% if (!user.isAuthenticated) { %>
                            <div class="alert alert-warning">您的邮箱未认证&nbsp;
                            <button id="email-btn" type="submit" class="btn">发送认证邮件</button>
                            </div>
                            <% } else { %>
                            <div class="alert alert-warning">您的邮箱已认证&nbsp;
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer.html %>
    <% if (is_mobile) { %>
    <script src="/mobilejs/default.js"></script>
    <% } else { %>
    <script src="/js/default.js"></script>
    <% } %>
</body>
</html>
