<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="一个轻媒体小应用，用户可以用来分享日常。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= settings.APP_NAME %> - <%= settings.SLOGAN %></title>
    <link rel="shortcut icon" href="/favicon.ico" /> 
    <% include ../partials/head_css.html %>
    <% if (is_mobile) { %>
    <link href="/mobilecss/index.css" rel="stylesheet" type="text/css" />
    <% } else { %>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <% } %>
    <% include ../partials/head_js.html %>
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container tag-top-head mar-top">
        <div class="main">
                <div class="tagHead-infoInner">
                    <a class="logo" href="//<%= settings.DOMAIN %>"></a>
                    <h2 class="title"><%= settings.APP_NAME %></h2>
                    <h3 class="slogan"><%= settings.SLOGAN %></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main">
            <% include ../partials/postlist.html %>
        </div>
    </div>
    <div class="footer">
        <% include ../partials/company.html %>
    </div>
    <div id="postEditorCon"></div>
    <script>
        if (!String.prototype.startsWith) {
            String.prototype.startsWith = function(searchString, position) {
                position = position || 0;
                return this.indexOf(searchString, position) === position;
            };
        }
    </script>
    <% if (is_mobile) { %>
    <script src="/mobilejs/index_unlogged.js"></script>
    <% } else { %>
    <script src="/js/index_unlogged.js"></script>
    <% } %>
</body>
</html>
            <div class="tag-head-info">
