<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的小报 - <%= settings.APP_NAME %></title>
    <link rel="shortcut icon" href="/favicon.ico" /> 
    <% include ../partials/head_css.html %>
    <% if (is_mobile) { %>
    <link href="/mobilecss/index.css" rel="stylesheet" type="text/css" />
    <% } else { %>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <% } %>
    <% include ../partials/head_js.html %>
</head>
<body>
    <% include ../partials/header.html %>
    <% if (is_mobile) { %>
    <div class="container top-tag-list mar-top">
        <div class="main">
            <ul>
                <% if (data.tags && data.tags.length > 0) { %>
                <% data.tags.forEach(function(tag) { %>
                <li class="list-item">
                    <a href="/tag/<%= tag._id %>"><%= tag.key %></a>
                </li>
                <% }); %>
                <% } %>
            </ul>
            <a class="top-tag-more" href="/tag/mine">•••</a>
            <!--<a class="top-tag-add" href="/tag/hot"><i class="s s-plus s-lg"></i></a>-->
        </div>
    </div>
    <div class="container">
        <div class="main">
            <% include ../partials/postlist.html %>
        </div>
    </div>
    <% } else { %>
    <div class="container tag-top-head mar-top">
        <div class="main">
            <div class="tag-head-info">
                <div class="tagHead-infoInner">
                    <h2>我的小报</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container clearfix">
        <div class="main">
            <div class="col-8">
                <% include ../partials/postlist.html %>
            </div>
            <div class="col-4">
                <div class="tag-list">
                    <h2>我的小报</h2>
                    <ul class="list-group">
                        <% if (data.tags && data.tags.length > 0) { %>
                        <% data.tags.forEach(function(tag) { %>
                        <li class="list-item">
                            <a class="tag" href="/tag/<%= tag._id %>"><%= tag.key %></a>
                        </li>
                        <% }); %>
                        <% } %>
                    </ul>
                    <a class="top-tag-more" href="/tag/mine">编辑&nbsp;→</a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <% include ../partials/footer.html %>
    <script>
        if (!String.prototype.startsWith) {
            String.prototype.startsWith = function(searchString, position) {
                position = position || 0;
                return this.indexOf(searchString, position) === position;
            };
        }
        var tags = [<% if (data.tags && data.tags.length > 0) { %><% data.tags.forEach(function(tag) { %>{ key: '<%= tag.key %>', _id: '<%= tag._id %>' },<% }); %><% } %>];
    </script>
    <% if (is_mobile) { %>
    <script src="/mobilejs/index_logged.js"></script>
    <% } else { %>
    <script src="/js/index_logged.js"></script>
    <% } %>
</body>
</html>

