<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="一个轻媒体小应用，用户可以用来分享日常。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= settings.APP_NAME %> - <%= settings.SLOGAN %></title>
    <link rel="shortcut icon" href="/favicon.ico" /> 
    <% include ../partials/head_css.html %>
    <% if (is_mobile) { %>
    <link href="/mobilecss/index.css" rel="stylesheet" type="text/css" />
    <% } else { %>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <% } %>
    <% include ../partials/head_js.html %>
</head>
<body>
    <% include ../partials/header.html %>
    <% if (is_mobile) { %>
    <!--<div class="container top-tag-list mar-top">
        <div class="main">
            <ul>
                <% if (data.tags && data.tags.length > 0) { %>
                <% data.tags.forEach(function(tag) { %>
                <li class="list-item">
                    <a href="/tag/<%= tag._id %>"><%= tag.key %></a>
                </li>
                <% }); %>
                <% } %>
            </ul>
            <a class="top-tag-more" href="/tag/hot">•••</a>
        </div>
    </div>-->
    <div class="container">
        <div class="main">
            <% include ../partials/postlist.html %>
        </div>
    </div>
    <% } else { %>
    <div class="container tag-top-head mar-top">
        <div class="main">
            <div class="tag-head-info">
                <div class="tagHead-infoInner">
                    <h2><%= settings.APP_NAME %></h2>
                    <h3 class="slogan"><%= settings.SLOGAN %></h3>
                </div>
                <div class="intro">
                    生命是渺小、脆弱、且短暂的，“太阳日常”是一个记录和分享生活点滴的小工具，目的是让用户放慢生活节奏，用心的感受自己、体会别人，真诚的对待生命和时间，过好在这个真实世界中的每一天。
                </div>
            </div>
        </div>
    </div>
    <div class="container clearfix">
        <div class="main">
            <div class="col-8">
                <% include ../partials/postlist.html %>
            </div>
            <div class="col-4 sider">
                <!--<div class="tag-list">
                    <h2>热门圈子</h2>
                    <ul class="list-group">
                        <% if (data.tags && data.tags.length > 0) { %>
                        <% data.tags.forEach(function(tag) { %>
                        <li class="list-item">
                            <a class="user-pic avatar" href="/tag/<%= tag._id %>">
                                <img src="/images/news_mini.png" />
                            </a>
                            <a class="user-name" href="/tag/<%= tag._id %>">
                                <%= tag.key %>
                                <% if (tag.weight > 0) { %>
                                    [置顶]
                                <% } %>
                            </a>
                        </li>
                        <% }); %>
                        <% } else { %>
                        <li class="list-item">
                            当前木有小报
                        </li>
                        <% } %>
                    </ul>
                    <a class="top-tag-more" href="/tag/hot">更多...</a>
                </div>-->
                <!--<div class="tag-list">
                    <h2>内容发布规则</h2>
                    <p>"太阳日常"未保证内容的质量，不允许发布带有强目的性的以下内容。</p>
                    <ol class="list-group">
                        <li class="list-item">
                            1.&nbsp;不能发布娱乐八卦内容。
                        </li>
                        <li class="list-item">
                            2.&nbsp;不能发布商业经济内容。
                        </li>
                        <li class="list-item">
                            3.&nbsp;不能发布政治军事内容。
                        </li>
                    </ol>
                </div>-->
                <div class="user-list">
                    <h2>活跃日常</h2>
                    <ul class="list-group">
                        <% if (data.users && data.users.length > 0) { %>
                        <% data.users.forEach(function(user) { %>
                        <li class="list-item">
                            <a class="user-pic avatar" href="/user/<%= user._id %>">
                                <img src="<%= user.avatar_mini %>" />
                            </a>
                            <a class="user-name" href="/user/<%= user._id %>">
                                <%= user.username %>
                            </a>
                            <div class="user-karma">
                                <span>日常：<%= user.dnum %></span>
                                <span>留言：<%= user.cnum %></span>
                            </div>
                        </li>
                        <% }); %>
                        <% } else { %>
                        <li class="list-item">
                            当前木有日常
                        </li>
                        <% } %>
                    </ul>
                    <!--<a class="top-tag-more" href="/user/top">更多...</a>-->
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <div class="footer">
        <% include ../partials/company.html %>
    </div>
    <script>
        if (!String.prototype.startsWith) {
            String.prototype.startsWith = function(searchString, position) {
                position = position || 0;
                return this.indexOf(searchString, position) === position;
            };
        }
    </script>
    <% if (is_mobile) { %>
    <script src="/mobilejs/index_unlogged.js"></script>
    <% } else { %>
    <script src="/js/index_unlogged.js"></script>
    <% } %>
    
</body>
</html>
