<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="一个轻媒体小应用，用户可以用来记录一些事情。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= settings.APP_NAME %> - <%= settings.SLOGAN %></title>
    <link rel="shortcut icon" href="/favicon.ico" /> 
    <% include ../partials/head_css.html %>
    <% if (is_mobile) { %>
    <link href="/mobilecss/index.css" rel="stylesheet" type="text/css" />
    <% } else { %>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <% } %>
    <% include ../partials/head_js.html %>
</head>
<body>
    <% if (is_mobile) { %>
    <div class="container tag-top-head clearfix">
        <div class="main">
            <div class="top-head-group clearfix">
                <div class="tagHead-infoInner">
                    <a class="logo" href="//<%= settings.DOMAIN %>"></a>
                    <h2 class="title"><%= settings.APP_NAME %></h2>
                </div>
                <div class="user">
                    <ul class="user-info-list">
                        <% if (user) { %>
                        <li>
                            <div class="user-info">
                                <a class="avatar" href="/user/<%= user.id %>">
                                    <img src="<%= user.avatar_mini || '/images/avatar_mini.png' %>" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div id="message-nav" class="dropdown">
                                <% if (is_mobile) { %>
                                <a class="message-view dropdown-toggle" rel="msg-view" href="/message">
                                    <% } else { %>
                                    <a class="message-view dropdown-toggle" rel="msg-view" href="javascript:;">
                                        <% } %>
                                        消息
                                    </a>
                                    <% if (data.messages && data.messages > 0) { %>
                                    <span class="message-new"></span>
                                    <% } %>
                                    <ul class="message-list dropdown-menu" style="display: none;">
                                    </ul>
                            </div>
                        </li>
                        <li>
                            <div id="config-dropdown" class="user-nav">
                                <a href="javascript:;" rel="conf-toggle" class="list-arrow">
                                    <i class="s s-list s-2x"></i>
                                </a>
                                <ul class="config-list">
                                    <li><a href="/settings">设置</a></li>
                                    <li><a href="/signout">退出</a></li>
                                </ul>
                            </div>
                        </li>
                        <% } else { %>
                        <li>
                            <a href="javascript:;" id="signup-btn">+&nbsp;注册</a>
                        </li>
                        <li>
                            <a href="javascript:;" id="signin-btn">登录&nbsp;→</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="notes">
                <ul class="category-list">
                    <li class="cur"><a href="javascript:;"><i class="s s-edit s-2x"></i><span>文字</span></a></li>
                    <li><a id="postImage" href="javascript:;"><i class="s s-image s-2x"></i><span>图片</span></a></li>
                    <li><a id="postLink" href="javascript:;"><i class="s s-link s-2x"></i><span>网址</span></a></li>
                </ul>
                <textarea id="PostText" placeholder="记录点滴，感受彼此..."></textarea>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main">
            <% include ../partials/postlist.html %>
        </div>
    </div>
    <% } else { %>
    <div class="container tag-top-head clearfix">
        <div class="main">
                <div class="tagHead-infoInner">
                    <a class="logo" href="//<%= settings.DOMAIN %>"></a>
                    <h2 class="title"><%= settings.APP_NAME %></h2>
                </div>
                <div class="notes">
                    <ul class="category-list">
                        <li class="cur"><a href="javascript:;"><i class="s s-edit s-2x"></i><span>文字</span></a></li>
                        <li><a id="postImage" href="javascript:;"><i class="s s-image s-2x"></i><span>图片</span></a></li>
                        <li><a id="postLink" href="javascript:;"><i class="s s-link s-2x"></i><span>网址</span></a></li>
                    </ul>
                    <textarea id="PostText" placeholder="记录点滴，感受彼此..."></textarea>
                </div>
                <div class="user">
                    <ul class="user-info-list">
                        <% if (user) { %>
                        <li>
                            <div class="user-info">
                                <a class="avatar" href="/user/<%= user.id %>">
                                    <img src="<%= user.avatar_mini || '/images/avatar_mini.png' %>" />
                                </a>
                                <a class="name" href="/user/<%= user.id %>"><%= user.username %></a>
                            </div>
                        </li>
                        <li>
                            <div id="message-nav" class="dropdown">
                                <% if (is_mobile) { %>
                                <a class="message-view dropdown-toggle" rel="msg-view" href="/message">
                                    <% } else { %>
                                    <a class="message-view dropdown-toggle" rel="msg-view" href="javascript:;">
                                        <% } %>
                                        消息
                                    </a>
                                    <% if (data.messages && data.messages > 0) { %>
                                    <span class="message-new"></span>
                                    <% } %>
                                    <ul class="message-list dropdown-menu" style="display: none;">
                                    </ul>
                            </div>
                        </li>
                        <li>
                            <div id="config-dropdown" class="user-nav">
                                <a href="javascript:;" rel="conf-toggle" class="list-arrow">
                                    <i class="s s-list s-2x"></i>
                                </a>
                                <ul class="config-list">
                                    <li><a href="/settings">设置</a></li>
                                    <li><a href="/signout">退出</a></li>
                                </ul>
                            </div>
                        </li>
                        <% } else { %>
                        <li>
                            <a href="javascript:;" id="signup-btn">+&nbsp;注册</a>
                        </li>
                        <li>
                            <a href="javascript:;" id="signin-btn">登录&nbsp;→</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
        </div>
    </div>
    <div class="container clearfix">
        <div class="main">
            <div class="col-8">
                <% include ../partials/postlist.html %>
            </div>
        </div>
    </div>
    <% } %>
    <div class="footer">
        <% include ../partials/company.html %>
    </div>
    <div id="postEditorCon"></div>
    <script>
        if (!String.prototype.startsWith) {
            String.prototype.startsWith = function(searchString, position) {
                position = position || 0;
                return this.indexOf(searchString, position) === position;
            };
        }
    </script>
    <% if (is_mobile) { %>
    <script src="/mobilejs/index_unlogged.js"></script>
    <% } else { %>
    <script src="/js/index_unlogged.js"></script>
    <% } %>
</body>
</html>
