<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人信息 - <%= settings.APP_NAME %></title>
    <% include ../partials/head_css.html %>
    <% include ../partials/head_js.html %>
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container mar-top">
        <div class="settings-area">
            <% include ../partials/settingsider.html %>
            <div class="settings-content">
                <div class="content-area">
                    <div class="profile-form">
                        <h1>个人信息</h1>
                        <form id="profile-form" accept-charset="UTF-8" action="/settings/profile/update" method="post">
                            <% if (data.info) { %>
                            <div class="info-text alert alert-success"><%= info %></div>
                            <% } %>
                            <div class="photo-area form-group">
                                <p>头像<span class="prompt-text">（该功能正在努力建设中...）</span></p>
                                <p class="avatar"><img width="96" height="96" src="<%= (user.avatar || '/images/user_pic.png') %>" /></p>
                            </div>
                            <div class="form-group">
                                <p class="label"><label for="username">笔名（您对外公开的别名）</label></p>
                                <p class="field"><input data-label="笔名" name="username" id="username" type="text" placeholder="输入您的笔名" value="<%= user.username %>" /></p>
                                <p class="validate-error"></p>
                            </div>
                            <div class="form-group">
                                <p class="label"><label for="bio">座右铭</label></p>
                                <p class="field"><textarea type="text" data-label="座右铭" name="bio" id="bio" placeholder="输入您的座右铭"><%= user.bio %></textarea></p>
                                <p class="validate-error"></p>
                            </div>
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">保存</button>
                                &nbsp;<div class="state-text" style="display: none;"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer.html %>
    <% if (is_mobile) { %>
    <script src="/mobilejs/profile.js"></script>
    <% } else { %>
    <script src="/js/profile.js"></script>
    <% } %>
</body>
</html>
