<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录 - <%= settings.APP_NAME %></title>
    <% include ../partials/head_css.html %>
    <% include ../partials/head_js.html %>
</head>
<body>
<% if (user) { %>
        <% if (!user.isAuthenticated ) { %>
        <div class="notice-area">
            <div class="notice">注：您的帐号没有经过认证，请确认认证邮件并认证账号以免帐号过期，<a href="/settings/emails">未收到认证邮件点击-></a>。
            </div>
        </div>
        <% } %>
        <% if (notice) { %>
        <div class="notice-area">
            <div class="notice"><%= notice %></div>
        </div>
        <% } %>
    </div>
<% } %>
    <div class="container mar-top">
        <div class="full">
            <div class="user-head">
                <a class="logo" href="http://www.suopoearth.com"></a>
            </div>
            <div class="user-main">
                <div class="tab-nav">
                    <ul>
                        <li><a class="tab" href="/signup">注册</a></li>
                        <li><a class="tab cur" href="/signin">登录</a></li>
                    </ul>
                </div>
                <div class="signin-area">
                    <form id="signinForm" action="/signin" method="post">
                        <div id="signinInfo" class="color-warning" <% if (error &&　error.length === 0) { %>style="display: none;"<% } %>><%= error %></div>
                        <div class="form-group">
                            <p class="field"><input type="text" data-label="邮箱" id="email" name="email" placeholder="邮箱" required></p>
                            <p class="validate-error"></p>
                        </div>
                        <div class="form-group">
                            <p class="field"><input type="password" data-label="密码" id="password" name="password" placeholder="密码" required autocomplete="off"></p>
                            <p class="validate-error"></p>
                        </div>
                        <div class="other-ctrl form-group">
                            <a class="forget-pwd" href="/forgot">忘记密码 ?</a>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-primary" type="button">登录</button>
                        </div>
                    </form>
                    <div class="signin-loading" style="display: none;">
                        <p>登录中...请稍等</p>
                    </div>
                </div>
            </div>
            <% include ../partials/company.html %>
        </div>
    </div>
    <script src="/js/signin.js"></script>
</body>
</html>
