<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= data.tag.key %> - <%= settings.APP_NAME %></title>
    <link rel="shortcut icon" href="/favicon.ico" /> 
    <% include ../partials/head_css.html %>
    <% if (is_mobile) { %>
    <link href="/mobilecss/tag.css" rel="stylesheet" type="text/css" />
    <% } else { %>
    <link href="/css/tag.css" rel="stylesheet" type="text/css" />
    <% } %>
    <% include ../partials/head_js.html %>
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container tag-top-head mar-top">
        <div class="main">
            <div class="tag-head-info">
                <div class="tagHead-infoInner">
                    <h2><%= data.tag.key %></h2>
                    <div class="tag-head-about">
                        <% if (data.tag._create_u) { %>
                        <a href="<%= data.tag._create_u._id %>"><%= data.tag._create_u.username %></a>
                        <% } else { %>
                        <a href="/user/unknow">未知用户</a>
                        <% } %>
                        创建于<%= timeFormat(data.tag.date) %>
                    </div>
                </div>
                <div class="tag-head-ctrl">
                    <% if (user) { %>
                    <a data-tid="<%= data.tag._id %>" data-hassubscribe="<%= (data.tag.followers && data.tag.followers.length > 0) %>" id="tagSubscribe" 
                        <% if (user && user._id && data.tag && data.tag.president && data.tag.president._id.equals(user._id)) { %>
                        class="btn disabled">
                        <%} else {%>
                        class="btn">
                        <% } %>
                        <% if (data.tag.followers && data.tag.followers.length > 0) { %>
                        <%= settings.CANCEL_SUBSCRIBE %>
                        <%} else {%>
                        <%= settings.SUBSCRIBE %>
                        <% } %>
                    </a>
                    <% } else { %>
                    <a data-tid="<%= data.tag._id %>" data-hassubscribe="false" id="tagSubscribe" class="btn" >订阅&nbsp;+</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="container clearfix">
        <div class="main">
            <div class="col-8">
                <% include ../partials/postlist.html %>
            </div>
            <div class="col-4 sider">
                <div class="blackboard">
                    <h2>黑板</h2>
                    <div id="descContent" class="tag-des">
                    <% if (data.tag.description) { %>
                        <%= data.tag.description %>
                    <% } else { %>
                        木有内容...
                    <% } %>
                    </div>
                    <% if (user && user._id && data.tag && data.tag.president && data.tag.president._id.equals(user._id)) { %>
                    <a id="modifyDesc" data-tid="<%= data.tag._id %>" href="javascript:;">修改 +</a>
                    <% } %>
                </div>
                <% if (data.tag.president) { %>
                <div class="tag-info">
                    <h2>发起人：<a href="/user/<%= data.tag.president._id %>"><%= data.tag.president.username %></a></h2>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <% include ../partials/footer.html %>
    <% if (is_mobile) { %>
    <script src="/mobilejs/tag.js"></script>
    <% } else { %>
    <script src="/js/tag.js"></script>
    <% } %>
</body>
</html>

