<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页 - <%= settings.APP_NAME %></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <% include ../partials/head_css.html %>
    <% if (is_mobile) { %>
    <link href="/mobilecss/tags.css" rel="stylesheet" type="text/css" />
    <% } else { %>
    <link href="/css/tags.css" rel="stylesheet" type="text/css" />
    <% } %>
    <% include ../partials/head_js.html %>
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container tag-top-head mar-top">
        <div class="main">
            <div class="tag-head-info">
                <div class="tagHead-infoInner">
                    <h2><%= settings.OBJECT.TAG.CNNAME %></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="home-page" class="main">
            <div class="col-12">
                <div class="tab-nav">
                    <ul>
                        <li style="<% if (user) { %>width: 50%<% } else { %>width: 50%<% } %>">
                            <a class="tab <% if (data.tab === 'hot') { %>cur<% } %>" href="/tag/hot">
                                热门
                            </a>
                        </li>
                        <li style="<% if (user) { %>width: 50%<% } else { %>width: 50%<% } %>">
                            <a class="tab <% if (data.tab === 'new') { %>cur<% } %>" href="/tag/newest">
                                最新
                            </a>
                        </li>
                    </ul>
                </div>
                <ul id="tag-list" class="list-group">
                    <% if (data.tags && data.tags.length > 0) { %>
                    <% data.tags.forEach(function(tag) { %>
                    <% include ../partials/tagitem.html %>
                    <% }); %>
                    <% } else { %>
                    <li class="list-item">
                        <div class="nodata">
                            您当前没有关注圈子
                            <% if (user) { %>
                            &nbsp;<a href="/tag/hot" class="btn">去关注&nbsp;></a>
                            <% } %>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <% if (is_mobile) { %>
    <script src="/mobilejs/tags.js"></script>
    <% } else { %>
    <script src="/js/tags.js"></script>
    <% } %>
</body>
</html>

