<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= data.account.username %> - <%= settings.APP_NAME %></title>
    <% include ../partials/head_css.html %>
    <% if (is_mobile) { %>
    <link href="/mobilecss/user.css" rel="stylesheet" type="text/css" />
    <% } else { %>
    <link href="/css/user.css" rel="stylesheet" type="text/css" />
    <% } %>
    <% include ../partials/head_js.html %>
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container user-page-head mar-top">
        <div class="main">
            <div class="user-head-info">
                <div class="user-head-avatar avatar">
                    <img height="96" width="96" src="<%= data.account.avatar || '/images/avatar.png' %>" />
                </div>
                <div class="userHead-infoInner">
                    <h2 class="nick-name"><%= data.account.username %></h2>
                    <div class="user-bio">
                        <%= data.account.bio %>
                    </div>
                </div>
                <div class="user-head-ctrl">
                    <% if (user) { %>
                    <a href="/settings" class="edit-profile btn">个人设定 ></a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main">
            <div class="tab-nav user-tab-bar">
                <ul>
                    <li><a href="/user/<%= data.account._id %>" class="<%if (data.tab == "dream") {%>cur<% } %> tab"><h2>贴文</h2><p>（<%= data.account.dnum %>）</p></a></li>
                    <li><a href="/user/<%= data.account._id %>/comment" class="<%if (data.tab == "comment") {%>cur<% } %> tab"><h2>留言</h2><p>（<%= data.account.cnum %>）</p></a></li>
                    <% if (user) { %>
                    <li><a href="/user/<%= data.account._id %>/favourite" class="<%if (data.tab == "favourite") {%>cur<% } %> tab"><h2>收藏</h2><p>（<%= data.account.fnum %>）</p></a></li>
                    <% } %>
                </ul>
            </div>
            <% if (data.tab == "dream") { %>
            <div id="dream-tab-bar" class="nav-bar">
                <div class="tab-nav">
                    <% if (data.role == '1') { %>
                    <a rel="nav-toggle" class="nav-toggle">热门<i class="s s-arrow s-lg"></i></a>
                    <% } %>
                    <% if (data.role == '2') { %>
                    <a rel="nav-toggle" class="nav-toggle">最新<i class="s s-arrow s-lg"></i></a>
                    <% } %>
                    <ul class="nav-list">
                        <li><a hidefocus="true" class="tab <% if (data.role == '1') { %>cur"<% } %>" href="/user/<%= data.account._id %>">热门</a></li>
                        <li><a hidefocus="true" class="tab <% if (data.role == '2') { %>cur"<% } %>" href="/user/<%= data.account._id %>?r=2">最新</a></li>
                    </ul>
                </div>
                <div class="nav-ctrl">
                    <a id="dream-refresh" class="refresh" href="javascript:;">
                        <i class="s s-refresh s-lg"></i>
                    </a>
                    <div class="order-select dropdown">
                        <a rel="order-select" class="dropdown-toggle">
                            <% if (data.order === -1) { %>
                            正序
                            <% } else if (data.order === 1) { %>
                            倒序
                            <% } %>
                            <i class="s s-arrow s-lg"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/<%= data.account._id %>?r=<%= data.role %>&o=-1">正序</a></li>
                            <li><a href="/user/<%= data.account._id %>?r=<%= data.role %>&o=1">倒序</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul id="dream-list" class="list-group">
                <% if (data.dreams && data.dreams.length > 0) { %>
                <% data.dreams.forEach(function(dream) { %>
                <% include ../partials/postitem.html %>
                <% }); %>
                <li>
                    <% if (data.hasprev && data.next > 1) { %>
                    <div class="more"><a href="/user/<%= data.account._id %>?r=<%= data.role %>&p=<%= data.prev %>&o=<%= data.order %>" class="btn">上一页 ></a></div>
                    <% } %>
                    <% if (data.hasmore) { %>
                    <div class="more"><a href="/user/<%= data.account._id %>?r=<%= data.role %>&p=<%= data.next %>&o=<%= data.order %>" class="btn">下一页 ></a></div>
                    <% } %>
                </li>

                <% } else { %>
                <% if (user && user._id.equals(data.account._id)) { %>
                <li>
                    <div class="nodata">
                        您还没有分享任何内容&nbsp;<button id="dreamReleaseText" class="btn"><i class="s s-plus s-lg"></i></button>
                    </div>
                </li>
                <% } else { %>
                <li>
                    <div class="nodata">
                        主人没有分享任何内容
                    </div>
                </li>
                <% } %>
                <% } %>
            <ul>
            <% } else if (data.tab == "comment") { %>
            <ul id="commentList" class="list-group comment-list">
                <% include ../partials/commentlist.html %>
            </ul>
            <% } else if (data.tab == "favourite") { %>
            <% if (user) { %>
            <ul id="dream-list" class="list-group">
                <% if (data.dreams && data.dreams.length > 0) { %>
                <% data.dreams.forEach(function(dream) { %>
                <% include ../partials/postitem.html %>
                <% }); %>
                <li>
                    <% if (data.hasprev && data.next > 1) { %>
                    <div class="more"><a href="/user/<%= data.account._id %>/favourite?r=<%= data.role %>&p=<%= data.prev %>&o=<%= data.order %>" class="btn">上一页 ></a></div>
                    <% } %>
                    <% if (data.hasmore) { %>
                    <div class="more"><a href="/user/<%= data.account._id %>/favourite?r=<%= data.role %>&p=<%= data.next %>&o=<%= data.order %>" class="btn">下一页 ></a></div>
                    <% } %>
                </li>
                <% } else { %>
                <li>
                    <div class="nodata">
                        您还没有收藏内容
                    </div>
                </li>
                <% } %>
            <ul>
            <% } %>
            <% } %>
        </div>
    </div>
    <% include ../partials/footer.html %>
    <% if (is_mobile) { %>
    <script src="/mobilejs/user.js"></script>
    <% } else { %>
    <script src="/js/user.js"></script>
    <% } %>
</body>
</html>
