<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= data.account.username %> - <%= settings.APP_NAME %></title>
    <% include ../partials/head_css.html %>
    <% if (is_mobile) { %>
    <link href="/mobilecss/user.css" rel="stylesheet" type="text/css" />
    <% } else { %>
    <link href="/css/user.css" rel="stylesheet" type="text/css" />
    <% } %>
    <% include ../partials/head_js.html %>
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container user-page-head mar-top">
        <div class="main">
            <div class="user-head-info">
                <div id="updateAvatar" class="user-head-avatar avatar">
                    <img height="96" width="96" src="<%= data.account.avatar || '/images/avatar.png' %>" />
                    <% if (user && user._id && data.account && data.account._id && user._id.equals(data.account._id)) { %>
                    <% if (!is_mobile) { %>
                    <div class="update-avatar-tips"><p>更新头像</p></div>
                    <% } %>
                    <input accept="image/*" style="display: none;" id="avatarUpload" type="file" name="upload_file" />
                    <% } %>
                </div>
                <div class="userHead-infoInner">
                    <h2 class="nick-name"><%= data.account.username %></h2>
                    <div class="user-mood">
                        <span>心　　情：<em><%= data.account.mood %></em></span>
                        <% if (user && user._id && data.account && data.account._id && user._id.equals(data.account._id)) { %>
                        <a href="javascript:;" id="moodEdit"><i class="s s-edit s-lg"></i>修改</a>
                        <% } %>
                    </div>
                    <div class="user-health">
                        <span>身体状况：<em><%= data.account.health %></em></span>
                        <% if (user && user._id && data.account && data.account._id && user._id.equals(data.account._id)) { %>
                        <a href="javascript:;" id="healthEdit"><i class="s s-edit s-lg"></i>修改</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container clearfix">
        <div class="main">
            <div class="col-8">
                <div class="tab-nav user-tab-bar">
                    <ul>
                        <li><a href="/user/<%= data.account._id %>" class="<%if (data.tab == "dream") {%>cur<% } %> tab">日常</a></li>
                        <li><a href="/user/<%= data.account._id %>/comment" class="<%if (data.tab == "comment") {%>cur<% } %> tab">留言</a></li>
                        <li><a href="/user/<%= data.account._id %>/favourite" class="<%if (data.tab == "favourite") {%>cur<% } %> tab">收藏</a></li>
                    </ul>
                </div>
            <% if (data.tab == "dream") { %>
            <% include ../partials/postlist.html %>
            <% } else if (data.tab == "comment") { %>
            <ul id="commentList" class="list-group comment-list">
                <% include ../partials/commentlist.html %>
            </ul>
            <% } else if (data.tab == "favourite") { %>
            <ul id="dream-list" class="list-group">
                <% if (data.dreams && data.dreams.length > 0) { %>
                <% data.dreams.forEach(function(dream) { %>
                <% include ../partials/postitem.html %>
                <% }); %>
                <li class="list-item">
                    <% if (data.hasprev && data.next > 1) { %>
                    <div class="more"><a href="/user/<%= data.account._id %>/favourite?r=<%= data.role %>&p=<%= data.prev %>&o=<%= data.order %>" class="btn">上一页 ></a></div>
                    <% } %>
                    <% if (data.hasmore) { %>
                    <div class="more"><a href="/user/<%= data.account._id %>/?r=<%= data.role %>&p=<%= data.next %>&o=<%= data.order %>" class="btn">下一页 ></a></div>
                    <% } %>
                </li>
                <% } else { %>
                <li class="list-item">
                    <div class="nodata">
                        <% if (user && user._id && data.account && data.account._id && user._id.equals(data.account._id)) { %>您<% } else { %>他<% } %>还没有收藏内容
                    </div>
                </li>
                <% } %>
            <% } %>
            </div>
            <div class="col-4">
                <div class="karma-list">
                    <h2>业力</h2>
                    <ul class="list-group">
                        <li class="list-item">发文：<%= data.dnum %></li>
                        <li class="list-item">留言：<%= data.cnum %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="avatarEditorCon"></div>
    <div id="postEditorCon"></div>
    <% include ../partials/footer.html %>
    <% if (is_mobile) { %>
    <script src="/mobilejs/user.js"></script>
    <% } else { %>
    <script src="/js/user.js"></script>
    <% } %>
</body>
</html>
