<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= data.account.username %> - <%= settings.APP_NAME %></title>
    <% include ../partials/head_css.html %>
    <% if (is_mobile) { %>
    <link href="/mobilecss/user.css" rel="stylesheet" type="text/css" />
    <% } else { %>
    <link href="/css/user.css" rel="stylesheet" type="text/css" />
    <% } %>
    <% include ../partials/head_js.html %>
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container user-page-head mar-top">
        <div class="main">
            <div class="user-head-info">
                <div id="updateAvatar" class="user-head-avatar avatar">
                    <img height="96" width="96" src="<%= data.account.avatar || '/images/avatar.png' %>" />
                    <% if (user && user._id && data.account && data.account._id && user._id.equals(data.account._id)) { %>
                    <% if (!is_mobile) { %>
                    <div class="update-avatar-tips"><p>更新头像</p></div>
                    <% } %>
                    <input 
                        accept="image/gif, image/png, image/jpeg, image/jpg, image/bmp, image/webp" 
                        style="display: none;" 
                        id="avatarUpload" 
                        type="file" 
                        name="upload_file" 
                    />
                    <% } %>
                </div>
                <div class="userHead-infoInner">
                    <h2 class="nick-name"><%= data.account.username %></h2>
                    <div class="user-mood">
                        <span>心　　情：<em><%= data.account.mood %></em></span>
                        <% if (user && user._id && data.account && data.account._id && user._id.equals(data.account._id)) { %>
                        <a href="javascript:;" id="moodEdit"><i class="s s-edit s-lg"></i>修改</a>
                        <% } %>
                    </div>
                    <div class="user-health">
                        <span>身体状况：<em><%= data.account.health %></em></span>
                        <% if (user && user._id && data.account && data.account._id && user._id.equals(data.account._id)) { %>
                        <a href="javascript:;" id="healthEdit"><i class="s s-edit s-lg"></i>修改</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <% if (is_mobile) { %>
    <div class="container">
        <div class="main">
    <% } else { %>
    <div class="container clearfix">
        <div class="main">
            <div class="col-8">
            <% } %>
            <% if (data.tab == "dream") { %>
            <% include ../partials/postlist.html %>
            <% } %>
        </div>
        <% if (!is_mobile) { %>
        </div>
        <% } %>
    </div>
    <div id="avatarEditorCon"></div>
    <div id="postEditorCon"></div>
    <% include ../partials/footer.html %>
    <% if (is_mobile) { %>
    <script src="/mobilejs/user.js"></script>
    <% } else { %>
    <script src="/js/user.js"></script>
    <% } %>
</body>
</html>
