@import './editor.less';

.nav-bar {
    margin-top: 15px;
}

.user-list, .tag-list {
    margin-left: 20px;
    margin-top: 15px;
    h2 {
        font-weight: normal;
        font-size: 14px;
    }
    .list-group {
        overflow: hidden;
    }
    .list-item {
        overflow: hidden;
        border-bottom: none;
        margin-right: 10px;
        float: left;
        .user-pic {
            float: left;
        }
        .user-name {
            float: left;
            margin-left: 5px;
        }
    }
}

.user-list {
    border-bottom: 1px solid #f0f0f0;
}

