@import './editor.less';
@import './loading.less';

.user-list {
    margin-left: 20px;
    padding-bottom: 15px;
    h2 {
        margin-top: 10px;
        font-weight: normal;
        font-size: 12px;
        padding: 5px 0;
        line-height: 18px;
    }
    .list-group {
        border-top: 1px solid #f0f0f0;
        margin-top: 10px;
        overflow: hidden;
        padding: 10px 0;
    }
    .list-item {
        overflow: hidden;
        border-bottom: none;
        margin-right: 10px;
        .user-pic {
            float: left;
        }
        .user-name {
            float: left;
            margin-left: 5px;
        }
        .user-karma {
            float: right;
            span {
                color: #a8a8a8;
                margin-left: 10px;
            }
        }
    }
}

