<div class="tab-nav">
    <ul>
        <li><a href="javascript:;" class="tab <%= data.current === 'signup'? 'cur':'' %>">成为作者</a></li>
        <li><a href="javascript:;" class="tab <%= data.current === 'signin'? 'cur':'' %>">登录</a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="signup-area" style="display: <%= data.current === "signup"? '':'none' %>">
        <form id="signup-form" action="/signup" method="post" novalidate>
            <div rel="info" class="alert alert-danger" style="display: none;">
            </div>
            <div class="form-group">
                <p class="field"><input type="text" data-label="笔名" name="username" id="username" placeholder="笔名" required></p>
                <p class="validate-error"></p>
            </div class="form-group">
            <div class="form-group">
                <p class="field"><input type="email" data-label="邮箱" name="email" id="emial" placeholder="邮箱" required></p>
                <p class="validate-error"></p>
            </div class="form-group">
            <div class="form-group">
                <p class="field"><input type="password" data-label="密码" name="password" id="password" placeholder="密码" autocomplete="off" required></p>
                <p class="validate-error"></p>
            </div>
            <div>
                <button id="signup-btn" type="button" class="btn btn-primary">确定</button>&nbsp;
            </div>
        </form>
        <div class="signup-loading" style="display: none;">
            <p>请稍等...</p>
        </div>
    </div>
    <div class="signin-area" style="display: <%= data.current === "signin"? '':'none' %>">
        <form id="signinForm" action="/signin" method="post" autocomplete="off">
            <div rel="info" class="alert alert-danger" style="display: none;"></div>
            <div class="form-group">
                <p class="field"><input type="text" data-label="笔名" id="username" name="username" placeholder="笔名" required></p>
                <p class="validate-error"></p>
            </div>
            <div class="form-group">
                <p class="field"><input type="password" data-label="密码" id="password" name="password" placeholder="密码" required autocomplete="off"></p>
                <p class="validate-error"></p>
            </div>
            <div class="other-ctrl form-group">
                <a class="forget-pwd" href="/forgot">忘记密码 ?</a>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary" type="button">登录</button>
            </div>
        </form>
        <div class="signin-loading" style="display: none;">
            <p>登录中...请稍等</p>
        </div>
    </div>
</div>

